.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  padding: 20px;
}

.card {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-text{
  font-size: 18px;
}
.card-text span{
  margin-left: 6px;
  text-decoration: line-through;
}
.smalltext{
  margin-left: 6px;
  color: #fb6f92;
}
.card-title{
  font-size: 18px;
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 700px;
  height: 80%;
}
.close-btn{
  margin-left: 300px;
}
.pink-star{
  color: #fb6f92;
}
.ratings{
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 120px;
}


.size-grid {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 10px;
  margin-top: 10px;
}

.size-btn {
  border: 1px solid #ccc;
  padding: 8px;
  background: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.size-btn:hover {
  border-color: #ff3f6c;
  color: #ff3f6c;
}
.action-buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.oldp {
  text-decoration: line-through;
  color: gray;
}

.cart-btn {
  flex: 1;
  background: #ff3f6c;
  color: white;
  padding: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}
.wishlist-btn {
  border: 1px solid #ccc;
  background: white;
  padding: 12px;
  cursor: pointer;
  border-radius: 4px;
}
.size-btn {
  border: 1px solid #ccc;
  padding: 8px 14px;
  background: white;
  cursor: pointer;
  border-radius: 4px;
}

.size-btn.active {
  border-color: #ff3f6c;
  background: #ff3f6c;
  color: white;
}

.size-warning {
  color: #ff3f6c;
  margin-top: 8px;
  font-size: 14px;
}
.pimg{
   width:280px;
  height: 300px;
}


/* Mobile fixes */
@media (max-width: 576px) {
  .products-container {
  grid-template-columns: repeat(2, 1fr); /* 4 columns */
  gap: 20px;
  padding: 20px;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  height: 100%;
}
}

