 body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}


     
    .menu a:hover { background: var(--hover); }
    .menu a:hover {
      background: rgb(255, 179, 198);
      color: black;
      outline: 1px solid rgb(251, 111, 146);
    }
   
    .nav-item a:hover { background: var(--hover); }
    .nav-item a:hover {
      background: rgb(255, 179, 198);
      color: black;
      outline: 1px solid rgb(251, 111, 146);
    }
    .nav-item:hover{
      background: rgb(255, 179, 198);
      color: black;
      outline: 1px solid rgb(251, 111, 146);
    }

   .nav-item{display: flex;
  padding: 10px 20px;
  color: white;
  width: 100%;
  background-color: #ff8fa3;
  text-decoration: none;
  outline: none !important;
  border: none !important;
  font-size: 18px;
   }
.menu {
  height: 100%;
  width: 0; /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ff8fa3;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  color: black;
  z-index: 2;
}

.menu.open {
  width: 35%; /* half screen when open */
}



.menu a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
color: white;
  display: block;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 15px;
  background: #ff8fa3;
  color: white;
  border: none;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}
.header{
  height:80px;
  width: 100%;
  background-color:#ff8fa3;
}
.dropdown-menu{
  background-color:#ff8fa3;
}
.heading{
  font-family: 'Playfair Display', serif; font-size: 48px; font-weight: bold; color: white; text-align: center;
}
.cards-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: left;
}

.card h4 {
  margin: 0;
  color: #555;
}

.card p {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
}

/* Table Styling */
.orders-container {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.orders-container h2 {
  margin-bottom: 15px;
  color: #333;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.orders-table th,
.orders-table td {
  padding: 12px 15px;
  text-align: left;
 border-bottom: 1px solid #ddd;
}

.orders-table th {
  background-color: #f8f8f8;
  color: #333;
}

.orders-table tr:hover {
  background-color: #f1f1f1;
}

.edit-btn {
  color: #ff69b4;
  text-decoration: none;
  font-weight: bold;
}

.edit-btn:hover {
  text-decoration: underline;
}

