
.homeslides-list-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.homeslides-list-table th,
.orders-list-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.homeslides-list-table th {
  background-color: #f8f8f8;
  color: #333;
}

.homeslides-list-table tr:hover {
  background-color: #f1f1f1;
}

